<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://kit.fontawesome.com/b5e36b87ea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
    {% block head %}{% endblock head %}
  </head>

  <body>
    <div id="msg-container" class="msg-container">
        <div id="msg-section-opener" class="msg-section-opener">
            <!-- <i id="message-opener-icon" class="fas fa-comment"></i> -->
            <i id="message-opener-icon"class="fas fa-robot"></i>
        </div>
        <div class="msg-section hide" id="msg-section">
            <div class="top-section">
                <div class="top-section-items expand-btn" id='msg-section-expand'><i class="fas fa-expand"></i></div>
                <div class="top-section-items heading">ChatBot</div>
                <div class="top-section-items close" id="msg-section-close"> <i class="fa fa-times"></i></div>
            </div>

            <div class="bottom-section">
                <div id="all-message" class="all-messages-section">
                    <div class="message">
                        <div class="sent message-status">
                            <p>Lorem ipsum dolor  consequuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="got message-status">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, magnam sequi sint saepe amet possimus dignissimos vitae soluta minima distinctio esse alias tenetur, quae dolor est, delectus consequuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="got message-status">
                            <p>Lorem ipsum dolorconsequuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="sent message-status">
                            <p>Lorem ipsum consequuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="got message-status">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing quuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="sent message-status">
                            <p>Lorem dolor est, delectus consequuntur unde optio!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="sent message-status">
                            <p>Lorem tur unde optio!</p>
                        </div>
                    </div>
                </div>

                <div class="send-message-section">
                    <input type="text" id="message" class="message-input" placeholder="Aa">
                    <button id="send-message" class="send-msg-btn"><i class="fas fa-paper-plane send-msg-btn-icon"></i></button>
                </div>
            </div>

        </div>

    </div>
    

    {% block content %}{% endblock content %}
    
    
    {% block js %}{% endblock js %}
    
    <script src="{% static 'home/js/app.js' %} "></script>
    
  </body>
</html>
